// Specific CSS for your home-page

body {
  background-color: #F8F9FC;
}

.container {
  padding-top: 20px;
}
#new-container {
  padding-top: 100px;
}
h2 {
  color: #283149;
  font-family: lobster;
}
p{
  color: #283149;
  font-family: oswald;
}
