<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-3">
      <h1>Add new dose to the cocktail</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, inline_label: "Enter an amount" %>
        <%= f.association :ingredient, collection: Ingredient.all %>
        <%= f.submit "Add a Dose" %>
      <% end %>
    </div>
  </div>
</div>
